:root {
  /* Brand Colors */
  --color-primary: #353331;
  --color-secondary: #c4bf7a;

  /* Background Colors */
  --color-bg: #fdf9ef;
  --color-bg-secondary: #353331;
  --color-bg-accent: #9a9a9a;

  /* Text and Border Colors */
  --color-text: #353331;
  --color-text-alt: #fdf9ef;
  --color-border: rgba(196,191,122);

  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-family-heading: var(--font-family-base);

  /* Sizes */
  --site-width: 850px;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
}
